.Grid {
  border: 1px solid #e0e0e0;
}

.Cell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.FocusedCell {
  background-color: #e0e0e0;
  font-weight: bold;
}

.Radio {
  margin-left: 0.5rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 5px;
}

.AutoSizerWrapper {
  flex: 1 1 auto;
}

.List {
  border: 1px solid #e0e0e0;
}

.list {
  height: 210px !important;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.BodyGrid {
  width: 100%;
  border: 1px solid #e0e0e0;
}

.GridRow {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.GridColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.LeftSideGridContainer {
  flex: 0 0 50px;
}

.evenRow,
.oddRow {
  border-bottom: 1px solid #e0e0e0;
}
.oddRow {
  background-color: #fafafa;
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 1em;
}

.cell {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.tableRow {
  border-bottom: 1px solid #eee;
}
.tableColumn {
  padding: 5px 15px 5px 0;
}

.Tab {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 6px;
  outline: none;
  background: #eee;
  margin: 4px;
  cursor: pointer;
}

.ActiveTab {
  background-color: #4db6ac;
  border: 1px solid #3ca59b;
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.List {
  width: 100%;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.placeholder {
  display: inline-block;
  height: 1em;
  background-color: #ddd;
}

.Cell_masonry {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #f7f7f7;
  word-break: break-all;
}
